h2 {
  font-size: 16px;
  border: 1px solid var(--ion-color-primary);
  padding: 8px;
  border-radius: 5px;
  color: var(--ion-color-primary);
}

.note-item {
  display: flex;
  align-items: left;

  .space-left {
    margin-left: 5px;
  }
}

ion-text {
  color: var(--ion-color-primary);
}
