<ion-header>
    <ion-toolbar>
        <ion-buttons menuId="side">
            <ion-menu-button slot="start"></ion-menu-button>
            <ion-title>Notes</ion-title>

            <ion-button (click)="createNote()">
                <ion-icon
                    name="add"
                    slot="icon-only"
                ></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col
                size="10"
                size-sm="8"
                offset-sm="2"
                class="ion-text-center"
            >
                <div *ngIf="isLoading">
                    <ion-spinner color="primary"></ion-spinner>
                </div>
                <div *ngIf="!isLoading && notes.length<=0">
                    <p color="primary">No Notes found...</p>
                    <ion-button
                        color="primary"
                        routerLink="home/tabs/lessons"
                    >
                        Create a Note
                    </ion-button>
                </div>
                <ion-list *ngIf="!isLoading && notes.length>0">
                    <ion-item-sliding
                        *ngFor="let note of notes "
                        #slidingItem
                        detail
                    >
                        <app-note-item [note]="note">ITEM</app-note-item>
                        <ion-item-options>
                            <ion-item-option
                                color="primary"
                                (click)="onEdit(note.noteId, slidingItem)"
                            >
                                <ion-icon
                                    name="create"
                                    slot="top"
                                ></ion-icon>

                            </ion-item-option>
                            <ion-item-option
                                color="danger"
                                (click)="onDelete(note.noteId, slidingItem)"
                            >
                                <ion-icon
                                    name="trash-bin"
                                    slot="top"
                                ></ion-icon>

                            </ion-item-option>

                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
