<ion-header>
    <ion-toolbar>
        <ion-buttons
            slot="start"
            menuId="side"
        >
            <ion-menu-button menu="main-menu"></ion-menu-button>
            <ion-title>Lessons</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment
        value="all"
        (ionChange)="onFilterUpdate($event.detail.value)"
    >
        <ion-segment-button
            value="all"
            checked
        >
            All Records
        </ion-segment-button>
        <ion-segment-button value="atm">ATM Lessons</ion-segment-button>
    </ion-segment>
    <ion-grid>
        <ion-row></ion-row>
        <ion-row>
            <ion-col
                size-md="6"
                offset-md="3"
                class="ion-text-center"
            >
                <div *ngIf="isLoading">
                    <ion-spinner color="primary"></ion-spinner>
                </div>
                <p *ngIf="!isLoading && relevantLessons?.length <= 0">No lessons found!</p>
                <ion-list
                    *ngIf="!isLoading && relevantLessons?.length > 0"
                    class="ion-nopdding"
                >
                    <ion-item
                        *ngFor="let lesson of relevantLessons"
                        detail
                        (click)="onClick(lesson.id)"
                    >
                        <ion-chip color="primary">ATM</ion-chip>

                        <ion-label>
                            <p>{{lesson.name}}</p>
                        </ion-label>
                        <ion-label>
                            <p>{{lesson.topic}}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
