<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Sussex IX</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="lessons">
            <ion-label>Lessons</ion-label>
            <ion-icon name="list-sharp"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="notes">
            <ion-label>Notes</ion-label>
            <ion-icon name="journal-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
