<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home/tabs/lessons"></ion-back-button>
        </ion-buttons>
        <ion-title>Lesson {{lesson?.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button
        color="primary"
        (click)="playLesson()"
    >
        Play
    </ion-button>
    <ion-button
        color="primary"
        (click)="makeNote()"
    >
        Make a Note
    </ion-button>

</ion-content>
